/* Media Query */
@media only screen and (max-width: 600px) {
    body {
      background-color: black;
    }
}
/* 3rd party font */
@font-face {
    font-family: FuzzyBubbles;
    src: url(Fuzzy_Bubbles/FuzzyBubbles-Regular.ttf);
}
/* Universal Selector (*) */
/* Reset every default values to zero */
* {
    padding: 0;
    /* sizing */
    max-width:100%;
    max-height: 100%;
    /* auto margins*/
    margin: auto;
    font-family: FuzzyBubbles;
    background: rgb(219, 215, 215)
}

/* Element Selector*/
header{
    /*relative unit #1*/
    font-size: 90%;
    /* margin long */
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 35%; 
    margin-right: 35%;
    color:rgb(119, 0, 128);
}

/* title */
.title {
    font-family: "Inter", sans-serif;
    color: #000;
    /* absolute units #1*/
    padding-top: 20pt;
    text-align: center;
    font-weight: 400;
    /* relative unit #3 */
    line-height: 5ex;
    text-shadow: 0px 4px 4px rgba(1, 1, 0, 0.25);
}
/* id */
#subtitle{
    border-collapse:collapse;
    border:2px solid red; 
    text-align: center;
    /* absolute units #2 */
    font-size: 0.7cm;
    color: red;
}

/* namelist */
#namelist{
    /* margin short */
    margin:1% 35% 1% 45%
    
}
/* list for attendance */
#list{
    /* long border */
    /* absolute units #3*/
    border-radius: 100px;
    border-style: solid;
    border-color:darkorchid;
    border-width: 5px;
}

/*for agenda*/
#agenda{
    /* position */
    position:sticky;
    /* short border */
    border: 5px dashed grey;
    /* relative unit #3 */
    margin-top: 1em;
    /* relative unit #2 */
    font-size: 2.5vw;
    /* short padding */
    padding: 1% 0% 1% 40%

}
h2.blod{
    color:red;
    /* display block*/
    display: block;
}
strong.inline{
    color:green;
    /* display inline */
    display: inline-block;
}
p.none{
    /* display none */
    display:none;
}
/* title of agenda*/
#agenda> #agendaT{
    color:darkblue;
}

/* from last meeting (article section)*/
article{
    /* text style */
    color:black;
    border: 2px solid black;
    text-decoration:underline red;
    text-align: center;
    padding: 5%;
}
/* Pseudo-class Selector*/
button:hover{
    /* postion with hover */
    position: absolute;
    color:red
}
article>#info>#info2{
    /* sizing */
    height: 35px;
    width: 100%;
}
/* For person'A idea*/
#info>details{
    color:blue;
    text-align: left;
    text-decoration: underline rgb(219, 215, 215);
}
/* Attribute Selector */
a[target]{
    /*long padding */
    padding-top: 0%;
    padding-bottom: 2%;
    padding-left: 10%;
    padding-right: 10%;
}
/* relative position with hover */
a[target]:hover{
    position: relative;
    color:green;
}

/* absolute position with active */
a[target]:active{
    position: absolute;
    color:yellow;
}


/* flexbox*/
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 6;
    flex-flow: column;
    background-color: DodgerBlue;
}

.flex-container > #soso {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}
.flex-container > #good {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-style: italic;
    font-size: 50px;
}
/* grid */
.grid-container {
    display: grid;
    height: 400px;
    align-content: space-between;
    justify-items: center;
    grid-template-columns:1fr 1fr 1fr;
    background-color: darkblue;
    padding: 10px;
}

.grid-container > #random {
    background-color: pink;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.grid-container > #mood {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    padding: 20px 0;
    font-size: 30px;
}


.grid-container > #mood2 {
    background-color: lightblue;
    text-align: right;
    padding: 20px 0;
    font-size: 30px;
}

/* Selector List */
h2,footer{
    text-decoration:overline;
}

/* Descendant Combinator */
#namelist li{
    /* use rgb color */
    color:rgb(189, 66, 156)
}

/* Child Combinator */
#agenda > ol > li{
    color:blue
}

/* General sibling combinator */
#info ~ p{
    /* use hex code */
    background-color: #FF0;
}

/* Adjacent sibling combinator */
#info + p>strong{
    /* use color name, set background color */
    background-color: aqua;
}

/* Combining Two Selectors */ 
#video.v{
    margin:auto;
    /* use hsl for text/background color*/
    color: hsl(30, 100%, 50%);
    background-color: hsl(120, 100%, 50%);
}
